{% extends "parent/layout.htm" %}

{% block page_title %}Home - Reporting Variability of Numerical Outcomes{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/css/variability.css">
{% endblock %}

{% block hero_title %}PSDI Variability Plot Generator{% endblock %}

{% block inner_content %}

<template id="notEnoughValues">
  <div role="alert">
    You need to enter at least three reaction outcome values.
    <button type="button" aria-label="Close"></button>
  </div>
</template>

<template id="noChartSelection">
  <div role="alert">
    You need to select a reaction outcome.
    <button type="button" aria-label="Close"></button>
  </div>
</template>

<template id="noChartTitle">
  <div role="alert">
    You need to enter a chart title.
    <button type="button" aria-label="Close"></button>
  </div>
</template>

<template id="noCompound">
  <div role="alert">
    You need to enter a product label.
    <button type="button" aria-label="Close"></button>
  </div>
</template>

<template id="newValueDiv"><div></div></template>

<div id="notifications"></div>

<p>
  This service enables you to produce plots that describe the reproducibility of any
  numerical reaction outcome. The generated scatterplot displays the mean value of
  the outcome (horizontal bar) and the associated confidence interval (shaded area).
</p>

<div class="flex-panel-display">
  <div class="flex-panel">
    <h6>Measurements</h6>

    <p>
      Enter a <em>minimum</em> of three values for the reaction
      outcome, from repeating the experimental process each time under identical
      conditions. The width of the confidence interval that accompanies the plotted
      mean value is based on a combination of the outcome variance and the number of
      data points. To minimise the uncertainty associated with your reaction outcome,
      it is recommended that at least five measurements are recorded.
    </p>

    <div class="formControl">
      <label id="valuesLabel">Reaction outcome values</label>
      <div id="valuesArea"></div>
    </div>

    <div class="formControl">
      <label for="chartType">Reaction outcome</label>
      <select id="chartType" aria-label="Chart Type">
        <option value="noSelection" selected>Select reaction outcome</option>
        <option value="isolatedYield">Isolated yield (%)</option>
        <option value="spectroscopicYield">Spectroscopic yield (%)</option>
        <option value="chromatographicYield">Chromatographic yield (%)</option>
        <option value="de">Diastereomeric excess (%)</option>
        <option value="ee">Enantiomeric excess (%)</option>
        <option value="other">Other</option>
      </select>
      <div id="otherTypeRow" hidden>
        <div class="formControl">
          <input id="otherType" placeholder="Define outcome">
        </div>
      </div>
    </div>

    <div class="formControl">
      <label for="compound">Product label</label>
      <input id="compound" placeholder="e.g., Amine 2">
    </div>

    <div class="formControl">
      <label for="significance">Confidence level (%)</label>
      <select id="significance" aria-label="Chart Type">
        <option value="95" selected>95</option>
        <option value="90">90</option>
      </select>
    </div>

    <div class="formControl">
      <label id="chartSizeLabel">Chart width / height (pixels)</label>
      <div class="spreadWidth">
        <input type="number" aria-labelledby="chartSizeLabel" id="chartWidth" value="640" step="10">
        <input type="number" aria-labelledby="chartSizeLabel" id="chartHeight" value="480" step="10">
      </div>
    </div>

    <div class="formControl">
      <label for="chartWidth">Image resolution</label>
      <select id="devicePixelRatio" aria-label="Chart Type">
        <option value="1" selected>Website</option>
        <option value="2">Website (hi resolution)</option>
        <option value="4">Print</option>
      </select>
    </div>

    <div>
      <button id="generatePlot">Generate plot</button>
    </div>

  </div>

  <div class="flex-panel">
    <h6>Variability plot</h6>

    <div id="variabilityPlotContainer" hidden>

      <div>
        <button id="downloadChart">Download plot</button>
        <button id="copyToClipboard">Copy plot to clipboard</button>
        <span hidden id="copySuccess">Copied!</span>
        <span hidden id="copyFailure">Copy failed.</span>
      </div>

      <div>
        <canvas id="variabilityPlot" width="400" height="250"></canvas>
      </div>
    </div>

    <div id="noChart" style="height: 250px">Click "Generate plot"</div>
  </div>
</div>

<script type="module" src="../static/js/variability.js"></script>

{% endblock %}
