{% extends "parent/layout.htm" %}

{% set ga_tag = 'G-8NZ9X10QTM' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/variability.css')}}">

<!-- Include stylesheet -->
<link href="{{url_for('static', filename='css/quill.snow.css')}}" rel="stylesheet" />
<link href="{{url_for('static', filename='css/formattedText.css')}}" rel="stylesheet" />

<!-- Include the Quill library -->
<script src="{{url_for('static', filename='js/quill.js')}}"></script>

{% endblock %}

{% block hero_title %}PSDI Variability Plot Generator{% endblock %}

{% block inner_content %}

<template id="formattedEditor">

  <div class="formattedEditorPalette" hidden>
    <div id="toolbar">

      <button tabindex="0" type="button" class="toolbarButton ql-bold">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-type-bold"
          viewBox="0 0 16 16">
          <path
            d="M8.21 13c2.106 0 3.412-1.087 3.412-2.823 0-1.306-.984-2.283-2.324-2.386v-.055a2.176 2.176 0 0 0 1.852-2.14c0-1.51-1.162-2.46-3.014-2.46H3.843V13zM5.908 4.674h1.696c.963 0 1.517.451 1.517 1.244 0 .834-.629 1.32-1.73 1.32H5.908V4.673zm0 6.788V8.598h1.73c1.217 0 1.88.492 1.88 1.415 0 .943-.643 1.449-1.832 1.449H5.907z" />
        </svg>
      </button>
      <button tabindex="0" type="button" class="toolbarButton ql-italic">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-type-italic"
          viewBox="0 0 16 16">
          <path
            d="M7.991 11.674 9.53 4.455c.123-.595.246-.71 1.347-.807l.11-.52H7.211l-.11.52c1.06.096 1.128.212 1.005.807L6.57 11.674c-.123.595-.246.71-1.346.806l-.11.52h3.774l.11-.52c-1.06-.095-1.129-.211-1.006-.806z" />
        </svg>
      </button>
      <button tabindex="0" type="button" class="toolbarButton ql-underline">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-type-underline"
          viewBox="0 0 16 16">
          <path
            d="M5.313 3.136h-1.23V9.54c0 2.105 1.47 3.623 3.917 3.623s3.917-1.518 3.917-3.623V3.136h-1.23v6.323c0 1.49-.978 2.57-2.687 2.57s-2.687-1.08-2.687-2.57zM12.5 15h-9v-1h9z" />
        </svg>
      </button>
      <button tabindex="0" type="button" class="toolbarButton ql-script" value="super">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-superscript"
          viewBox="0 0 16 16">
          <path
            d="m4.266 12.496.96-2.853H8.76l.96 2.853H11L7.62 3H6.38L3 12.496zm2.748-8.063 1.419 4.23h-2.88l1.426-4.23zm5.132-1.797v-.075c0-.332.234-.618.619-.618.354 0 .618.256.618.58 0 .362-.271.649-.52.898l-1.788 1.832V6h3.59v-.958h-1.923v-.045l.973-1.04c.415-.438.867-.845.867-1.547 0-.8-.701-1.41-1.787-1.41C11.565 1 11 1.8 11 2.576v.06z" />
        </svg>
      </button>
      <button tabindex="0" type="button" class="toolbarButton ql-script" value="sub">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-subscript"
          viewBox="0 0 16 16">
          <path
            d="m3.266 12.496.96-2.853H7.76l.96 2.853H10L6.62 3H5.38L2 12.496zm2.748-8.063 1.419 4.23h-2.88l1.426-4.23zm6.132 7.203v-.075c0-.332.234-.618.619-.618.354 0 .618.256.618.58 0 .362-.271.649-.52.898l-1.788 1.832V15h3.59v-.958h-1.923v-.045l.973-1.04c.415-.438.867-.845.867-1.547 0-.8-.701-1.41-1.787-1.41-1.23 0-1.795.8-1.795 1.576v.06z" />
        </svg>
      </button>
      <button tabindex="0" type="button" class="toolbarButton insertSymbolButton" style="width: 24px; height: 24px">
        Ω
      </button>

    </div>
  </div>

  <div class="symbolSelector" hidden>
    <div>
      <button type="button" class="symbolButton" tabindex="0">°</button>
      <button type="button" class="symbolButton" tabindex="0">Å</button>
      <button type="button" class="symbolButton" tabindex="0">→</button>
      <button type="button" class="symbolButton" tabindex="0">⟹</button>
      <button type="button" class="symbolButton" tabindex="0">+</button>
      <button type="button" class="symbolButton" tabindex="0">-</button>
      <button type="button" class="symbolButton" tabindex="0">×</button>
      <button type="button" class="symbolButton" tabindex="0">÷</button>
      <button type="button" class="symbolButton" tabindex="0">±</button>
      <button type="button" class="symbolButton" tabindex="0">∓</button>
      <button type="button" class="symbolButton" tabindex="0">=</button>
      <button type="button" class="symbolButton" tabindex="0">≠</button>
      <button type="button" class="symbolButton" tabindex="0">&lt;</button>
      <button type="button" class="symbolButton" tabindex="0">></button>
      <button type="button" class="symbolButton" tabindex="0">≤</button>
      <button type="button" class="symbolButton" tabindex="0">≥</button>
      <button type="button" class="symbolButton" tabindex="0">≲</button>
      <button type="button" class="symbolButton" tabindex="0">≳</button>
      <button type="button" class="symbolButton" tabindex="0">≪</button>
      <button type="button" class="symbolButton" tabindex="0">≫</button>
      <button type="button" class="symbolButton" tabindex="0">α</button>
      <button type="button" class="symbolButton" tabindex="0">β</button>
      <button type="button" class="symbolButton" tabindex="0">γ</button>
      <button type="button" class="symbolButton" tabindex="0">δ</button>
      <button type="button" class="symbolButton" tabindex="0">ε</button>
      <button type="button" class="symbolButton" tabindex="0">ζ</button>
      <button type="button" class="symbolButton" tabindex="0">η</button>
      <button type="button" class="symbolButton" tabindex="0">θ</button>
      <button type="button" class="symbolButton" tabindex="0">ι</button>
      <button type="button" class="symbolButton" tabindex="0">κ</button>
      <button type="button" class="symbolButton" tabindex="0">λ</button>
      <button type="button" class="symbolButton" tabindex="0">μ</button>
      <button type="button" class="symbolButton" tabindex="0">ν</button>
      <button type="button" class="symbolButton" tabindex="0">ξ</button>
      <button type="button" class="symbolButton" tabindex="0">ο</button>
      <button type="button" class="symbolButton" tabindex="0">π</button>
      <button type="button" class="symbolButton" tabindex="0">ρ</button>
      <button type="button" class="symbolButton" tabindex="0">ς</button>
      <button type="button" class="symbolButton" tabindex="0">σ</button>
      <button type="button" class="symbolButton" tabindex="0">τ</button>
      <button type="button" class="symbolButton" tabindex="0">υ</button>
      <button type="button" class="symbolButton" tabindex="0">φ</button>
      <button type="button" class="symbolButton" tabindex="0">χ</button>
      <button type="button" class="symbolButton" tabindex="0">ψ</button>
      <button type="button" class="symbolButton" tabindex="0">ω</button>
      <button type="button" class="symbolButton" tabindex="0">Α</button>
      <button type="button" class="symbolButton" tabindex="0">Β</button>
      <button type="button" class="symbolButton" tabindex="0">Γ</button>
      <button type="button" class="symbolButton" tabindex="0">Δ</button>
      <button type="button" class="symbolButton" tabindex="0">Ε</button>
      <button type="button" class="symbolButton" tabindex="0">Ζ</button>
      <button type="button" class="symbolButton" tabindex="0">Η</button>
      <button type="button" class="symbolButton" tabindex="0">Θ</button>
      <button type="button" class="symbolButton" tabindex="0">Ι</button>
      <button type="button" class="symbolButton" tabindex="0">Κ</button>
      <button type="button" class="symbolButton" tabindex="0">Λ</button>
      <button type="button" class="symbolButton" tabindex="0">Μ</button>
      <button type="button" class="symbolButton" tabindex="0">Ν</button>
      <button type="button" class="symbolButton" tabindex="0">Ξ</button>
      <button type="button" class="symbolButton" tabindex="0">Ο</button>
      <button type="button" class="symbolButton" tabindex="0">Π</button>
      <button type="button" class="symbolButton" tabindex="0">Ρ</button>
      <button type="button" class="symbolButton" tabindex="0">Σ</button>
      <button type="button" class="symbolButton" tabindex="0">Τ</button>
      <button type="button" class="symbolButton" tabindex="0">Υ</button>
      <button type="button" class="symbolButton" tabindex="0">Φ</button>
      <button type="button" class="symbolButton" tabindex="0">Χ</button>
      <button type="button" class="symbolButton" tabindex="0">Ψ</button>
      <button type="button" class="symbolButton" tabindex="0">Ω</button>
    </div>
  </div>

</template>

<template id="notEnoughValues">
  <div role="alert">
    You need to enter at least three reaction outcome values.
    <button type="button" aria-label="Close"></button>
  </div>
</template>

<template id="noChartSelection">
  <div role="alert">
    You need to select a reaction outcome.
    <button type="button" aria-label="Close"></button>
  </div>
</template>

<template id="noCompound">
  <div role="alert">
    You need to enter a product label.
    <button type="button" aria-label="Close"></button>
  </div>
</template>

<template id="newValueDiv">
  <div></div>
</template>

<template id="variabilityPlot">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
    <style>
      .xTickLabel,
      .yTickLabel {
        font-family: Arial, Helvetica, sans-serif;
        stroke: none;
        fill: #000;
      }

      .xTickLabel {
        dominant-baseline: auto;
        text-anchor: middle;
      }

      .yTickLabel {
        text-anchor: end;
        dominant-baseline: middle;
      }

      .plotBackground {
        stroke: none;
        fill: white;
      }

      .axisLines {
        stroke: #444;
        stroke-width: 1;
        fill: none;
      }

      .gridLine,
      .tickMark {
        stroke: #ddd;
        stroke-width: 1;
      }

      text {
        font-family: Arial;
      }
    </style>
    <defs>
      <clipPath id="plotAreaMask"></clipPath>
    </defs>
    <g class="plotArea" clip-path="url(#plotAreaMask)">
      <g class="gridLines"></g>
      <g class="confidence"></g>
      <g class="markers"></g>
      <g class="box"></g>
    </g>
  </svg>
</template>

<dialog id="variabilityPlotDialog">

  <div class="plotDesignHeader">
    <h4>Customise variability plot</h4>
  </div>

  <div class="plotDesignSections">

    <div class="plotPreviewArea">
      <h6>Preview</h6>
      <div id="plotDesign"></div>
    </div>

    <div class="plotDesignOptions">

      <h6>Options</h6>

      <details id="titlesDetails" class="chartOptions" name="chartOptions">

        <summary id="titlesSummary">Plot and axis titles</summary>

        <div class="formControl">
          <label for="plotTitle">Plot title:</label>
          <div data-placeholder="Plot title" id="plotTitle" class="formattedEditor" autocomplete="off" autocorrect="off"
            autocapitalize="off" spellcheck="false"></div>
        </div>

        <div class="formControl">
          <label for="xTitle">x-axis title:</label>
          <div data-placeholder="x-axis title" id="xTitle" class="formattedEditor" autocomplete="off" autocorrect="off"
            autocapitalize="off" spellcheck="false"></div>
        </div>

        <div class="formControl">
          <label for="yTitle">y-axis title:</label>
          <div data-placeholder="y-axis title" id="yTitle" class="formattedEditor" autocomplete="off" autocorrect="off"
            autocapitalize="off" spellcheck="false"></div>
        </div>

        <div class="formControl">
          <button id="titleDefault"
            title="Use default values for the plot, x-axis, and y-axis titles, based on the provided info">Use
            defaults</button>
          <button id="titleRevert"
            title="Revert to previously-entered values, before using defaults or before the last revert"
            disabled>Revert</button>
        </div>

      </details>

      <details class="chartOptions" name="chartOptions">

        <summary>Markers</summary>

        <div class="formControl">
          <label for="pointType">Marker type</label>
          <select id="pointType">
            <option value="filledCircle">Filled Circle</option>
            <option value="circle">Circle</option>
            <option value="filledSquare">Filled Square</option>
            <option value="square">Square</option>
            <option value="filledTriangle">Filled Triangle</option>
            <option value="triangle">Triangle</option>
            <option value="filledDiamond">Filled Diamond</option>
            <option value="diamond">Diamond</option>
            <option value="plus">Plus</option>
            <option value="cross">Cross</option>
          </select>
        </div>

        <div class="formControl">
          <label for="pointColor">Marker colour</label>
          <input id="pointColor" type="color" value="#03303f">
        </div>

        <div class="formControl">
          <label for="pointSize">Marker size</label>
          <input id="pointSize" type="number" value="4" min="1" max="20">
        </div>

        <div class="formControl pointWeightContainer">
          <label for="pointWeight">Marker thickness</label>
          <input id="pointWeight" type="number" value="1" step="0.1" min="0.1" max="10">
        </div>

      </details>

      <details class="chartOptions" name="chartOptions">

        <summary>Axes</summary>

        <div class="formControl">
          <label for="yAxisInterval">y-axis interval</label>
          <select id="yAxisInterval">
            <option value="auto">Auto</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="25">25</option>
          </select>
        </div>

      </details>

      <details class="chartOptions" name="chartOptions">

        <summary>Confidence interval</summary>

        <div class="formControl">
          <label for="bandColor">Interval colour</label>
          <input id="bandColor" type="color" value="#7cc8f2">
        </div>

        <div class="formControl">
          <label for="meanWeight">Mean line weight</label>
          <input id="meanWeight" type="number" value="1.5" step="0.5" min="1" max="10">
        </div>

        <div class="formControl">
          <label for="meanColor">Mean line colour</label>
          <input id="meanColor" type="color" value="#004964">
        </div>

      </details>

      <details class="chartOptions" name="chartOptions">

        <summary>Fonts</summary>

        <div class="formControl">
          <label for="titleFontSize">Title font size</label>
          <input type="number" min="9" max="24" id="titleFontSize" value="16">
        </div>

        <div class="formControl">
          <label for="axisFontSize">Axis label font size</label>
          <input type="number" min="9" max="24" id="axisFontSize" value="16">
        </div>

        <div class="formControl">
          <label for="tickfontSize">Tick label font size</label>
          <input type="number" min="9" max="24" id="tickfontSize" value="16">
        </div>

        <div class="formControl">
          <label for="boxFontSize">Box overlay font size</label>
          <input type="number" min="9" max="24" id="boxFontSize" value="16">
        </div>

      </details>

      <details class="chartOptions" name="chartOptions">

        <summary>Box overlay</summary>

        <div class="formControl">
          <label for="boxPosition">Box position</label>
          <select id="boxPosition">
            <option value="bottomRight">Bottom right</option>
            <option value="bottomLeft">Bottom left</option>
            <option value="topRight">Top right</option>
            <option value="topLeft">Top left</option>
            <option value="manual">Manual placement</option>
          </select>
        </div>

        <div class="formControl boxCoordinatesContainer">
          <label for="boxOpacity">Box coordinates</label>
          <div class="boxCoords">
            <input id="boxLeft" type="number" value="20" step="10" min="0" max="4000">
            <input id="boxTop" type="number" value="20" step="10" min="0" max="3000">
          </div>
        </div>

        <div class="formControl">
          <label for="boxBorderColor">Box border colour</label>
          <input id="boxBorderColor" type="color" value="#888888">
        </div>

        <div class="formControl">
          <label for="boxBackgroundColor">Box background colour</label>
          <input id="boxBackgroundColor" type="color" value="#ffffff">
        </div>

        <div class="formControl">
          <label for="boxOpacity">Box opacity</label>
          <input id="boxOpacity" type="number" value="0.8" step="0.1" min="0" max="1">
        </div>

      </details>

    </div>

  </div>

  <div class="plotDesignHeader">
    <p></p>

    <div>
      <button class="closeDialog cancel" id="cancelVariabilityPlotDialogEntries">Cancel</button>
      <button class="closeDialog" id="closeVariabilityPlotDialog">Apply changes</button>
    </div>
  </div>

</dialog>

<div id="notifications"></div>

<div class="intro">
  <p>
    This service enables you to produce plots that describe the reproducibility of any
    numerical reaction outcome. The generated scatterplot displays the mean value of
    the outcome (horizontal bar) and the associated confidence interval (shaded area).
    The scatterplot can be downloaded or copied into another document. You can download
    a JSON file of project information to your “Downloads” folder by clicking “Download
    project” and upload it again by clicking “Upload project.”
  </p>

  <button id="saveProject">
    <img src="{{url_for('static', filename='img/icon-download.svg')}}" alt="Download icon" class="text-icon">
    Download project
  </button>
  <button id="loadProject">
    <img src="{{url_for('static', filename='img/icon-upload.svg')}}" alt="Upload icon" class="text-icon">
    Upload project
  </button>
</div>

<input id="loadProjectFile" type="file" value="Load" accept=".json" hidden>

<div class="flex-panel-display">
  <div class="flex-panel">
    <h6>Measurements</h6>

    <p>
      Select the type of measurement from the "Reaction outcome" dropdown list.
    </p>

    <p> Enter a <em>minimum</em> of three values for the reaction outcome, obtained by
      repeating the experimental process under identical conditions. The width of the
      confidence interval that accompanies the plotted mean value is based on a
      combination of the outcome variance and the number of data points. To minimise
      the uncertainty associated with your reaction outcome, it is recommended that at
      least five measurements are recorded.
    </p>

    <p>
      Finally, enter a label in the "Product label" text field and select a confidence
      level (%).
    </p>

    <p>Note that an example plot can be quickly created by clicking on "Fill with
      example data."
    </p>

    <div class="formControl">
      <label for="chartType">Reaction outcome</label>
      <select id="chartType" aria-label="Plot Type">
        <option value="noSelection" selected>Select reaction outcome</option>
        <option value="isolatedYield">Isolated yield (%)</option>
        <option value="spectroscopicYield">Spectroscopic yield (%)</option>
        <option value="chromatographicYield">Chromatographic yield (%)</option>
        <option value="ee">ee (%)</option>
        <option value="de">de (%)</option>
        <option value="other">Other</option>
      </select>
      <div id="otherTypeRow" hidden>
        <div data-placeholder="Define outcome" id="otherEditor" class="formattedEditor" autocomplete="off"
          autocorrect="off" autocapitalize="off" spellcheck="false"></div>
      </div>
    </div>

    <div class="formControl">
      <label id="numValuesLabel">Number of reaction outcome values</label>
      <input type="number" aria-labelledby="numValuesLabel" id="numValues" value="5" min="3" max="600">
    </div>

    <div class="formControl">
      <label id="valuesLabel">Reaction outcome values</label>
      <div id="valuesArea"></div>
    </div>

    <div>
      <button type="button" id="exampleData" class="mouseover-tooltip" data-bs-toggle="tooltip"
        data-bs-custom-class="tooltip-on-light" data-bs-placement="top"
        title="This fills the above fields with an example set of 5 values, illustrating how a point can fall outside of the confidence interval.">Fill
        with example data</button>
      <button type="button" id="resetForm">Reset form</button>
    </div>

    <div class="formControl">
      <label for="compoundEditor">Product label</label>
      <div data-placeholder="e.g., Amine 2" id="compoundEditor" class="formattedEditor" autocomplete="off"
        autocorrect="off" autocapitalize="off" spellcheck="false"></div>
    </div>

    <div class="formControl">
      <label for="significance">Confidence level (%)</label>
      <select id="significance" aria-label="Significance">
        <option value="95" selected>95</option>
        <option value="90">90</option>
      </select>
    </div>

    <div hidden>
      <div id="yLabelEditor" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></div>
    </div>

    <div hidden>
      <div id="autoTitleEditor" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></div>
    </div>

  </div>

  <div class="flex-panel">
    <h6>Variability plot</h6>

    <div id="variabilityPlotContainer" hidden>

      <div id="variabilityChart"></div>

      <div id="outsideRangeWarning" hidden>

        The <span class="outsideWarningSignificance">95</span>% CI extends outside the range of 0–100%.
        As the range of the reaction outcome is restricted between 0-100%,
        the <span class="outsideWarningSignificance">95</span>% CI has been truncated to those limits.

        <br><br>

        This feature of the data should be addressed in a discussion of sources of variability that affect
        the measured outcome, and confidence interval limits restricted within the limits of 0-100% should be
        reported in your published results.

      </div>

      <div class="formControl">
        <label id="chartSizeLabel">Chart width / height (pixels)</label>
        <div class="spreadWidth">
          <input type="number" aria-labelledby="chartSizeLabel" id="chartWidth" min="640" max="4000" value="640"
            step="10">
          <input type="number" aria-labelledby="chartSizeLabel" id="chartHeight" min="480" max="3000" value="480"
            step="10">
        </div>
      </div>

      <div class="formControl">
        <label for="downloadFormat">Download format</label>
        <select id="downloadFormat">
          <option value="svg" selected>SVG</option>
          <option value="png">PNG</option>
        </select>
      </div>

      <div class="formControl imageResolutionContainer">
        <label for="chartWidth">Image resolution</label>
        <select id="devicePixelRatio" aria-label="Chart width">
          <option value="1" selected>Website</option>
          <option value="2">Website (hi resolution)</option>
          <option value="4">Print</option>
        </select>
      </div>

      <div>
        <button id="customiseChart">
          <img src="{{url_for('static', filename='img/icon-config.svg')}}" alt="Download icon" class="text-icon">
          Customise plot
        </button>
        <button id="downloadChart">
          <img src="{{url_for('static', filename='img/icon-download.svg')}}" alt="Download icon" class="text-icon">
          Download plot
        </button>
        <button id="copyToClipboard">
          <img src="{{url_for('static', filename='img/icon-clipboard.svg')}}" alt="Download icon" class="text-icon">
          Copy plot to clipboard
        </button>
        <span hidden id="copySuccess">Copied!</span>
        <span hidden id="copyFailure">Copy failed.</span>
      </div><br>

    </div>

    <div id="noChart" style="width: 640px; height: 480px">Click "Generate plot"</div>
  </div>
</div>

<script type="module" src="{{url_for('static', filename='js/variability.js')}}"></script>

{% endblock %}