{% extends "parent/layout.htm" %}

{% block page_title %}Home - Reporting Variability of Numerical Outcomes{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/css/variability.css">
{% endblock %}

{% block hero_title %}Reporting Variability of Numerical Outcomes{% endblock %}

{% block inner_content %}

<template id="notEnoughValues">
  <div role="alert">
    You need to enter at least three reaction outcomes.
    <button type="button" aria-label="Close"></button>
  </div>
</template>

<template id="noChartSelection">
  <div role="alert">
    You need to select a chart type.
    <button type="button" aria-label="Close"></button>
  </div>
</template>

<template id="noChartTitle">
  <div role="alert">
    You need to enter a chart title.
    <button type="button" aria-label="Close"></button>
  </div>
</template>

<template id="noCompound">
  <div role="alert">
    You need to enter a compound.
    <button type="button" aria-label="Close"></button>
  </div>
</template>

<div id="notifications"></div>

<p>
  This tool enables you to produce plots that describe the reproducibility of any
  numerical reaction outcome. The generated scatterplots display mean values and
  confidence intervals and can be exported to use in your supplementary
  information.
</p>

<div class="flex-panel-display">
  <div class="flex-panel">
    <h6>Measurements</h6>

    <p>
      Blurb about the importance of repeating reactions and how you must enter at least
      3 measurements and that magic happens with 5 and more is better.
    </p>

    <div class="formControl">
      <label for="reactionOutcomeValues">Reaction outcome values</label>
      <textarea id="reactionOutcomeValues" rows="8"></textarea>
    </div>

    <div class="formControl">
      <label for="chartType">Chart type</label>
      <select id="chartType" aria-label="Chart Type">
        <option value="noSelection" selected>Select chart type</option>
        <option value="isolatedYield">Isolated yield</option>
        <option value="spectroscopicYield">Spectroscopic yield</option>
        <option value="chromatographicYield">Chromatographic yield</option>
        <option value="de">Diastereomeric excess</option>
        <option value="ee">Enantiomeric excess</option>
        <option value="other">Other</option>
      </select>
    </div>

    <div class="formControl">
      <label for="compound">Compound</label>
      <input id="compound" placeholder="Aniline 6a">
    </div>

    <div class="formControl">
      <label for="chartTitle">Chart title</label>
      <input id="chartTitle" placeholder="Reaction variability plot">
    </div>

    <div id="otherTypeRow" hidden>
      <div class="formControl">
        <label for="otherType">Custom type</label>
        <input id="otherType" placeholder="yield">
      </div>
    </div>

    <div class="formControl">
      <label for="significance">Significance</label>
      <input type="number" id="significance" value="95" min="90" max="95" step="1">
    </div>

    <div class="formControl">
      <label for="chartWidth">Chart width / height (pixels)</label>
      <div class="spreadWidth">
        <input type="number" id="chartWidth" value="640">
        <input type="number" id="chartHeight" value="480">
      </div>
    </div>

    <div class="formControl">
      <label for="chartWidth">Image resolution</label>
      <select id="devicePixelRatio" aria-label="Chart Type">
        <option value="1" selected>Website</option>
        <option value="2">Website (hi resolution)</option>
        <option value="4">Print</option>
      </select>
    </div>

    <div>
      <button id="generatePlot">Generate plot</button>
    </div>

  </div>

  <div class="flex-panel">
    <h6>Variability plot</h6>

    <div id="variabilityPlotContainer" hidden>

      <div>
        <button id="downloadChart">Download plot</button>
        <button id="copyToClipboard">Copy plot to clipboard</button>
        <span hidden id="copySuccess">Copied!</span>
        <span hidden id="copyFailure">Copied failed!</span>
      </div>

      <div>
        <canvas id="variabilityPlot" width="400" height="250"></canvas>
      </div>
    </div>

    <div id="noChart" style="height: 250px">Click "Generate plot"</div>
  </div>
</div>

<script type="module" src="../static/js/variability.js"></script>

{% endblock %}