<!-- This is the common header which will be added to all pages. Everything in this file will be added within the div
 that loads it. Header links specific to each site must be added or loaded via JS after this is loaded. -->

<div class="max-width-box navbar">
  <div class="header-left">
    <div class="navbar__brand">
      <a class="navbar__logo" href="https://psdi.ac.uk/">
        <img src="../static/img/psdi-logo-darktext.png" alt="PSDI logo"
          class="lm-only">
        <img src="../static/img/psdi-logo-lighttext.png" alt="PSDI logo"
          class="dm-only">
      </a>
      <a class="navbar__title" href="./">
        <h5>Variability Plot Generator</h5>
      </a>
    </div>
  </div>
  <div class="navbar__items navbar__items--right">
    <!-- This file contains the links that will appear in the top-right of the header bar in the index.htm page. -->
    {% include 'content/header-links.html' %}
    <button class="clean-btn color-mode-toggle" title="Switch between dark and light mode"
      aria-label="Lightmode/darkmode toggle button">
      <img src="../static/img/colormode-toggle-lm.svg" alt="Lightmode toggle icon"
        class="lm-only">
      <img src="../static/img/colormode-toggle-dm.svg" alt="Darkmode toggle icon"
        class="dm-only">
    </button>
  </div>
</div>
