<!--
  index.htm

  Ray Whorley
  School of Chemistry and Chemical Engineering
  University of Southampton
  Started on 29/07/2025
-->

<!DOCTYPE html>
<html>

<head>
  <title>Organic Chemistry Toolkit</title>
  <!--<link rel="stylesheet" href="{{url_for('static', filename='styles/format.css')}}">-->
</head>

</html>

<body>
  <h1>Organic Chemistry Toolkit</h1>
  <p>
    Welcome to the PSDI Organic Chemistry Toolkit, where you can find a selection of handy
    tools to help you with your research. Select a tool to begin.
  </p>
  <input type="button" value=" Reporting variability of numerical outcomes "
      id="variabilityButton"><br><br>
  <input type="button" value=" Reaction scope reporting "
      id="scopeButton"><br><br>
  <input type="button" value=" Collation of structure validation data for pure compounds "
      id="structureButton"><br><br>
  <input type="button" value=" Reaction condition-sensitivity radar diagram "
      id="radarButton"><br><br>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='/javascript/toolkit.js')}}" type="module" language="JavaScript"></script>
</body>
</html>
